<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form >
        <ion-item>
          <ion-label position="floating" >name</ion-label>
          <ion-input input="text" fill="fill"[(ngModel)]="name" name="kamal"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input type="email" fill="fill"[(ngModel)]="email" name="something"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">password</ion-label>
          <ion-input  type="password" fill="fill"[(ngModel)]="password" name="something"></ion-input>
        </ion-item>
   
      <ion-button expand="full" class="botton-color" (click)="login()">Sign Up</ion-button>
      <ion-button expand="full" color="medium" routerLink="/register" >Register</ion-button>
    </form>
  </div>
</ion-content>