<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Our Food Order App!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        We are dedicated to bringing you the best food ordering experience. 
        Our app offers a wide variety of cuisines from the best restaurants in your area. 
        Whether you're in the mood for pizza, sushi, or a healthy salad, we've got you covered!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Mission</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Our mission is to make food ordering quick, easy, and enjoyable. 
        We strive to provide top-notch customer service and ensure that your food is delivered hot and fresh.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Our Vision</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        We envision a world where anyone can enjoy their favorite meals from the comfort of their home, 
        delivered swiftly and reliably. 
        We are constantly innovating to enhance the food ordering experience.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Meet Our Team</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/Ceo.jpg" alt="Team Member 1">
          </ion-avatar>
          <ion-label>
            <h2>John Doe</h2>
            <p>CEO</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/images/seo2.jpg" alt="Team Member 2">
          </ion-avatar>
          <ion-label>
            <h2>Jane Smith</h2>
            <p>CTO</p>
          </ion-label>
        </ion-item>
        <!-- Add more team members as needed -->
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        If you have any questions, feel free to <ion-router-link routerLink="/contact">contact us</ion-router-link>.
      </p>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
