ion-content{
    // --background: url("https://img.freepik.com/free-vector/gradient-grainy-texture_23-2148981502.jpg?size=626&ext=jpg&ga=GA1.2.1068539699.1717852543&semt=sph")
    // no-repeat;
    // background-size: cover;
    // border: solid 1px red;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://media.istockphoto.com/id/1372988836/photo/abstract-wave-background-with-many-glowing-particles-musical-wave-digital-network-background.jpg?s=612x612&w=0&k=20&c=gbIlDnzAvD4e5FYFH2i3Mkelvm7UeEB3eBW7Zh_vepk=")
    no-repeat;
    background-size: cover;  

    //get loading content below 
    flex-direction: column;
    }