ion-content{
    // --background: url("https://img.freepik.com/free-vector/gradient-grainy-texture_23-2148981502.jpg?size=626&ext=jpg&ga=GA1.2.1068539699.1717852543&semt=sph")
    // no-repeat;
    // background-size: cover;
    // border: solid 1px red;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://images.unsplash.com/photo-1615719413546-198b25453f85?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Zm9vZCUyMGRlbGl2ZXJ5fGVufDB8fDB8fHww")
    no-repeat;
    background-size: cover;  

    //get loading content below 
    flex-direction: column;
    }