<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/loading"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Register Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form >
        <ion-item>
          <ion-label position="floating" >fullname</ion-label>
          <ion-input input="text" fill="fill"[(ngModel)]="fullname" name="kamal"></ion-input>
          
        </ion-item>
        <ion-item>
          <ion-label position="floating">email</ion-label>
          <ion-input input="text" type="email" fill="fill" [(ngModel)]="email" name="something" ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">password</ion-label>
          <ion-input input="text" type="password" [(ngModel)]="password" name="something" fill="fill" ></ion-input>
        </ion-item>
      <ion-button expand="full" class="botton-color" routerLink="/login">Already have an account</ion-button>
      <ion-button expand="full" color="medium" (click)="Create()" >Sign Up</ion-button>
      
    </form>
  </div>  
  
</ion-content> 