.container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    // align-items: center;

    background: url("https://img.freepik.com/free-vector/abstract-geometric-wireframe-background_52683-59421.jpg?size=626&ext=jpg")
    no-repeat;
    background-size: cover;  
    border: solid 1px red;
    //get login content below
    flex-direction: column;
    padding: 0 10px;

ion-item:first-child,ion-item:nth-child(2),ion-item:nth-child(3){
    margin-bottom: 10px;

}
ion-item{
    border: 1px solid white;
    border-radius: 4px;
    opacity: 0.9;
    background: transparent;
}
}
.botton-color{
    margin: 30PX 0 15PX 0;
}