<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/loading"></ion-back-button>
    </ion-buttons>
    <ion-title slot="start">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form >
        <ion-item>
          <ion-label position="floating" >Full name</ion-label>
          <ion-input placeholder="Thushan ekanayaka"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="sandaluthushan@gmai.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input  type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">conform Password</ion-label>
          <ion-input  type="password"></ion-input>
        </ion-item>

      <ion-button expand="full" class="botton-color" routerLink="/login">Already have an account</ion-button>
      <ion-button expand="full" color="medium"  >Sign Up</ion-button>
      
    </form>
  </div>  
  
</ion-content>