/* src/app/dashboard/dashboard.page.scss */
ion-card {
    margin-bottom: 20px;
  }
  
  ion-thumbnail img {
    border-radius: 50%;
  }
  
  ion-item {
    --padding-start: 0;
  }
  
  .container{

    background-size: cover;  
  

}