<!-- src/app/dashboard/dashboard.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <div class="container">
    <ion-grid>
     
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Popular Dishes</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let dish of popularDishes">
                  <ion-thumbnail slot="start">
                    <img [src]="dish.image">
                  </ion-thumbnail>
                  <ion-label>
                    <h2>{{ dish.name }}</h2>
                    <p>{{ dish.description }}</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end">Order</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>New Arrivals</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let dish of newArrivals">
                  <ion-thumbnail slot="start">
                    <img [src]="dish.image">
                  </ion-thumbnail>
                  <ion-label>
                    <h2>{{ dish.name }}</h2>
                    <p>{{ dish.description }}</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end">Order</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Special Offers</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let offer of specialOffers">
                  <ion-thumbnail slot="start">
                    <img [src]="offer.image">
                  </ion-thumbnail>
                  <ion-label>
                    <h2>{{ offer.name }}</h2>
                    <p>{{ offer.description }}</p>
                  </ion-label>
                  <ion-button fill="outline" slot="end">Order</ion-button>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
</div>

  </ion-content>


