<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>New Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Add New Product</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Product Image</ion-label>
          <input type="file" (change)="selectfile($event)" />
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Product Name</ion-label>
          <ion-input [(ngModel)]="productName" name="productName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Product Price</ion-label>
          <ion-input [(ngModel)]="productCost" name="productCost" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Product Description</ion-label>
          <ion-textarea [(ngModel)]="productDescription" name="productDescription"></ion-textarea>
        </ion-item>
        <ion-button expand="full" type="submit" (click)="upload()">Upload Product</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
